{{ template "chart.header" . }}
{{ template "chart.description" . }}

{{ template "chart.versionBadge" .  }}{{ template "chart.typeBadge" .  }}{{ template "chart.appVersionBadge" .  }}

[puppet]: https://puppet.com/
[puppet_in_docker]: https://puppet.com/blog/puppet-docker-running-puppet-container-centric-infrastructure/
[agent]: https://puppet.com/docs/puppet/5.5/architecture.html
[daemonset]: https://kubernetes.io/docs/concepts/workloads/controllers/daemonset/

This chart provides a mechanism for running [Puppet][puppet] in your Kubernetes
cluster as a [DaemonSet][daemonset]. This allows you to manage and observe the
[Puppet agent][agent] as a native Kubernetes resource, while still controlling
the configuration of the underlying host.

## Basic Usage

This chart makes very few assumptions about how your Puppet infrastructure
works. It is simply a wrapper for launching a privileged [Puppet Agent docker
image][puppet_in_docker] as a [DaemonSet][daemonset] in your Kubernetes
infrastructure.

### Default Security Privileges

By default the chart installs the DaemonSet so that it completely privileged on
your hosts - [hostNetwork, hostIPC, hostPid, and
more][https://kubernetes.io/docs/concepts/policy/pod-security-policy/] are all
enabled, giving the agent full root privileges.

### Default Puppet Configuration

Because Puppet can be run in so many different ways, we do not make any effort
to configure Puppet for you. You can pass in your own command line arguments
to the agent.

{{ template "chart.requirementsSection" . }}

{{ template "chart.valuesSection" . }}

{{ template "helm-docs.versionFooter" . }}
